/* You can add global styles to this file, and also import other style files */
/*@import "~bootswatch/dist/darkly/variables";*/
@import "~bootstrap/scss/bootstrap";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "~bootswatch/dist/darkly/bootswatch";*/

/*"src/styles/_bootswatch.scss",
"node_modules/bootstrap/scss/bootstrap.scss",
"src/styles/_variables.scss",*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table td, .table th {
    padding: 0.25rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
