@inherits LayoutComponentBase

<div class="flex flex-col h-screen 2xl:mx-14">
    <NavMenu />
    <main class="h-full dark:bg-zinc-900 py-4 px-8 overflow-scroll">
        @Body
    </main>
    <footer class="min-h-12 flex flex-row items-center px-4 dark:bg-zinc-700">
        Copyright 2024 Paul Fischer
    </footer>
</div>
