@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
<div class="flex flex-col min-h-screen 2xl:mx-14">
    <div class="dark:bg-zinc-700 min-h-16 flex flex-row gap-16 items-center px-4">
        <h1 class="text-3xl">MediaSet</h1>
        <div>
            <ul class="flex flex-row gap-8">
                <li>
                    <Anchor href="/">Home</Anchor>
                </li>
                <li>
                    <Anchor href="/books">Books</Anchor>
                </li>
            </ul>
        </div>
    </div>
    @* <NavMenu /> *@
    <main class="dark:bg-zinc-900 py-4 px-8">
        @Body
    </main>
    <footer class="min-h-12 flex flex-row items-center px-4">
        Copyright 2024 Paul Fischer
    </footer>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
