@using System.Text.RegularExpressions
@using System.Reflection

<div class="dark:bg-zinc-700 min-h-16 flex flex-row gap-16 items-center px-4">
  <h1 class="text-3xl flex items-center">MediaSet</h1>
  <div class="flex flex-row gap-4 items-center">
    @* <Anchor href="/" class="py-1 px-2 rounded">Home</Anchor>
    <Anchor href="/books" class="py-1 px-2 rounded">Books</Anchor> *@
    <Anchor class="p-4 h-16 flex items-center rounded-lg" href="/">Home</Anchor>
    @foreach (var name in GetRoutableComponents())
    {
        <Anchor class="p-4 h-16 flex items-center rounded-lg" href="@Regex.Replace(name, @"(\B[A-Z]|\d+)", "-$1").ToLower()">
          @Regex.Replace(name, @"(\B[A-Z]|\d+)", " $1")
        </Anchor>
    }
  </div>
</div>

@code
{
  public IEnumerable<string> GetRoutableComponents()
  {
    return Assembly.GetExecutingAssembly().ExportedTypes
      .Where(t => t.IsSubclassOf(typeof(ComponentBase)))
      .Where(c => c.GetCustomAttributes(inherit: true).OfType<RouteAttribute>().Any())
      .Where(c => c.Name != "Home" && c.Name != "Error")
      @* .OrderBy(o => o.Name) *@
      .Select(c => c.Name);
  }
}