
<div class="dark:bg-zinc-700 min-h-16 flex flex-row gap-16 items-center px-4">
  <h1 class="text-3xl flex items-center">MediaSet</h1>
  <div class="flex flex-row gap-4 items-center">
    <Anchor class="p-4 h-16 flex items-center rounded-lg" href="/" Match="@NavLinkMatch.All">Home</Anchor>
    <Anchor class="p-4 h-16 flex items-center rounded-lg" href="/books" Match="@NavLinkMatch.Prefix">Books</Anchor>
  </div>
</div>

@code
{
}