<div class="dark:bg-zinc-700 min-h-16 flex flex-row gap-16 items-center px-4">
    <h1 class="text-3xl">MediaSet</h1>
    <div>
        <ul class="flex flex-row gap-8">
            <li>
                <Anchor href="/">Home</Anchor>
            </li>
            <li>
                <Anchor href="/books">Books</Anchor>
            </li>
        </ul>
    </div>
</div>
