@page "/books"
@using MediaSet.Shared
@inject HttpClient Http

<h3>Books</h3>

@code {
//IList<BookViewModel> Books;

    protected override async Task OnInitAsync()
    {
        var Books = await Http.GetJsonAsync<IList<BookViewModel>>("api/SampleData/GetBooks");
    }
}
