@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply dark:text-blue-300 underline
  }

  a[class~="active"] {
    @apply dark:bg-zinc-800
  }

  textarea,
  select,
  input {
    @apply p-1 pl-2 dark:text-slate-800 rounded-sm
  }
  
  input::placeholder {
    @apply text-gray-400 opacity-100
  }

  button:not([class~="link"]) {
    @apply px-3 py-1 dark:text-slate-200 dark:bg-blue-600 dark:hover:bg-blue-500 dark:disabled:bg-slate-900 dark:disabled:text-slate-500 rounded bg-white transition-colors
  }

  button[class~="text-icon"] {
    @apply px-3 py-2 bg-gray-800 hover:bg-gray-700 text-slate-300 border border-gray-600 rounded-l-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-400
  }

  button[class~="secondary"] {
    @apply px-3 py-1 dark:text-slate-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:disabled:bg-gray-950 rounded bg-white transition-colors
  }

  button[class~="tertiary"] {
    @apply px-3 py-1 dark:text-slate-300 dark:bg-transparent dark:border dark:border-gray-500 dark:hover:bg-gray-800 dark:disabled:opacity-50 rounded bg-white border border-gray-300 hover:bg-gray-50 disabled:opacity-50 transition-colors
  }

  button[class~="link"] {
    @apply text-blue-300 border-none underline p-0
  }

  button[class~="image-button"] {
    @apply appearance-none bg-transparent border-0 p-0 cursor-pointer hover:opacity-75 transition-opacity
  }
}