@using System.Globalization
@namespace MediaSet.Blazor.Components.Shared

<button @attributes=InputAttributes class="@elemClass">@ChildContent</button>


@code {
  [Parameter]
  public ButtonStyle ButtonStyle { get; set; }

  [Parameter, EditorRequired]
  public RenderFragment ChildContent { get; set; } = null!;

  [Parameter(CaptureUnmatchedValues = true)]
  public IDictionary<string, object>? InputAttributes { get; set; }

  private const string defaultClass = "px-3 py-1 dark:text-slate-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:disabled:bg-blue-950 rounded bg-white transition-colors";
  private const string secondaryClass = "px-3 py-1 dark:text-slate-300 dark:bg-gray-500 dark:hover:bg-gray-600 dark:disabled:bg-gray-950 rounded bg-white transition-colors";
  private const string linkClass = "text-blue-300 border-none underline p-0";
  private string? elemClass;

  protected override void OnInitialized()
  {
    elemClass = ButtonStyle switch
    {
      ButtonStyle.Link => linkClass,
      ButtonStyle.Secondary => secondaryClass,
      ButtonStyle.Default => defaultClass,
      _ => defaultClass
    };
    
    if (InputAttributes?.TryGetValue("class", out var cl) == true)
    {
      elemClass += string.Format(" {0}", Convert.ToString(cl, CultureInfo.InvariantCulture));
      InputAttributes["class"] = elemClass;
      InputAttributes.Remove("class");
    }
  }
}
