@page "/books/add"
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@inject IConfiguration Config
@inject HttpClient HttpClient
@inject NavigationManager Navigation

<div class="flex flex-col gap-2">
  <div class="flex flex-col gap-2 items-normal sm:flex-row sm:gap-0 sm:items-center justify-between">
    <MediaHeader>Add Book</MediaHeader>
  </div>
  <div class="mt-4 flex flex-col gap-2">
    <EditForm Model="Book" OnValidSubmit="Submit" FormName="Add-Book">
      <div class="flex flex-col gap-2">
        <DataAnnotationsValidator />
        <BookForm Book="@Book" />
      </div>
      <Button class="mt-4">Add</Button>
    </EditForm>
  </div>
</div>

@code {
  [SupplyParameterFromForm]
  private Book Book { get; set; } = new();

  private string apiEndpoint = string.Empty;

  protected override void OnInitialized()
  {
    apiEndpoint = $"{Config.GetValue<string>("MediaSetApi")}";
    Console.WriteLine("api??? {0}", apiEndpoint);
  }

  private async Task Submit()
  {
    var requestUri = $"{apiEndpoint}/books";
    Console.WriteLine("Adding book via {0}! {1}", requestUri, Book);
    var result = await HttpClient.PostAsJsonAsync<Book>(requestUri, Book);
    if (result.IsSuccessStatusCode) {
      var newBook = result.Content.ReadFromJsonAsync<Book>();
      Console.WriteLine("New boook created!! {0}", newBook);
      Navigation.NavigateTo($"/books/{newBook.Id}");
    }
  }
}
