<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading">
  <h1>{{book.media?.title}}</h1>
  <h5 *ngIf="book.subTitle">{{book.subTitle}}</h5>

  <div class="container pt-1">
    <div class="row mb-3">
      <div class="col">Plot: {{book.plot}}</div>
    </div>
    <div class="row">
      <div class="col">Book Id: {{book.id}}</div>
      <div class="col">Book Media Id: {{book?.media?.id}}</div>
    </div>
    <div class="row">
      <div class="col">Number of Pages: {{book.numberOfPages}}</div>
      <div class="col">Publication year: {{book.publicationDate}}</div>
    </div>
    <div class="row">
      <div class="col">Author(s): <ng-container *ngFor="let bookAuthor of book.bookAuthors">{{bookAuthor.author.name}}</ng-container></div>
      <div class="col">Publishers: <ng-container *ngFor="let bookPublisher of book.bookPublishers">{{bookPublisher.publisher.name}}</ng-container></div>
    </div>
    <div class="row">
      <div class="col">Format: {{book.media?.format?.name}}</div>
      <div class="col">ISBN: {{book.isbn}}</div>
    </div>
    <div class="row">
      <div class="col">Dewey: {{book.dewey}}</div>
    </div>
  </div>
</div>
