@inherits LayoutComponentBase
@inject IUriHelper UriHelper

<div class="sidebar @CurrentRoute">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>

@code {
    private string CurrentRoute;

    protected override void OnInit()
    {
        RefreshCurrentRoute();
        UriHelper.OnLocationChanged += OnLocationChanges;
    }

    private void OnLocationChanges(object sender, LocationChangedEventArgs newLocation) => RefreshCurrentRoute();

    private void RefreshCurrentRoute()
    {
        var urlSplit = UriHelper.GetAbsoluteUri().Replace(UriHelper.GetBaseUri(), "").Split("/");
        CurrentRoute = urlSplit.Length > 0 ? urlSplit[0] : CurrentRoute = string.Empty;
        base.StateHasChanged();
    }
}