@page "/books"
@using MediaSet.Client.ViewModels
@inject HttpClient Http

<h3>Books</h3>

@if (AllBooks.Count() == 0)
{
    <p>
        There are no books! <NavLink class="nav-link" href="book/add"><span class="oi oi-plus" aria-hidden="true"></span> Add Book</NavLink>Add one to get started!
    </p>
}
else
{
    foreach (var book in AllBooks)
    {
        <div>
            @book.Title
        </div>
    }
}

@code {
    private IList<BookViewModel> AllBooks = new List<BookViewModel>();

    protected override async Task OnInitAsync()
    {
        AllBooks = await Http.GetJsonAsync<IList<BookViewModel>>("api/SampleData/GetBooks");
    }   
}
