@page "/"

<PageTitle>Home</PageTitle>

<h2 class="text-xl">Welcome to your MediaSet</h2>

<div class="h-screen mt-4">
  This is where a dashboard will go about all the things about your MediaSet!
  Like how many books you have!
  Some cool graphs about your MediaSet!
</div>
